/* Converts all body text to Verdana 18px */
body{
    font-size: 18px;
    font-family: Verdana;
}

/* Adds midnight blue background for header and footer */
header, footer{
    background-color: midnightblue;
    color: white;
}

/* Adds orange font for site-title <h1>*/
.site-title{
    color: orange;
}

/* Adds box shadow to my-image id*/
#my-image{
    box-shadow: 0px 0px 2px 1px black;
}

/* Adds square-shaped bullets to list of hobbies*/
#hobby-list{
    list-style-type: square;
}

/* Adds cream background to odd list-items under hobbies*/
#hobby-list li:nth-child(odd) {
    background-color: #fae6c8;
}