/* specifies background color, font style and default font size for entire page */
body {
    background-color: rgb(174, 221, 211);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 0.75rem;
}

/* aligns header to center of page; specifies header size, uses background image for header space */
header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/rock_01.jpg"); 
    background-size:contain;
    top: 0px;
    width: 801px;
    height: 267px;
}

/* stacks header text above background image, header font specifications */
.site-title {
    z-index: 9;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    padding-top: 3.3em;
}

/* visually groups and contains all elements within this class through common alignment and spacing */
.wrapper {
    background-color: rgb(220, 235, 235);
    width: 801px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    box-sizing: border-box;
    padding: 0.2rem 0.5rem 0rem 0.5rem;
}

/* removes underline from hyperlinks and changes font colors to black */
a:link, a:visited {
    text-decoration: none;
    color: black;
}

/* stacks navigation links horizontally and spaces them evenly */
#nav-buttons li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-inline: 93px;
    padding-top: .4em;
    padding-bottom: .4em;
}

/* provides vertical dividers between navigation links */
.l-button {
    border-right: 1px solid black;
}

/* specifies lineweight, spacing ratios of heading fonts in main content */
h2, h3 {
    font-weight: 500;
    line-height: 0.5rem;
    padding-top: 1.2em;
    padding-bottom: 0.75em;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

main {
    line-height: 1.4;
}

/* 'floats' or pushes image of Patrick to the left, forcing adjacent text to go to the right */
img {
    width: 200px;
    float: left;
    padding: 0.2rem 0.8rem 0.8rem 0rem;
}

/* ensures that content from sections below don't wrap around floating image of Patrick even if the content text is short */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* Specifies line spacing, bullet-point shape and alignment for list */
.bullets {
    line-height:0.75rem;
    list-style-type:disc;
    list-style-position: inside;
}

/* creates box around info and message input area with spacing */
.message-box {
    font-size: 0.85rem;
    border: 1px solid black;
    padding: 1.6em 1em 1em 1em;
    line-height: 1.5em;
}

/* extends width of information text input fields till extents of box */
input[type=text] {
    width: 100%;
    margin-bottom: 0.7rem;
}

/* extends width of message input box till extents of box, increases its height */
textarea {
    width: 100%;
    height: 5rem;
}

/* changes font-size of question inside 'contact box' */
.message-box p {
    font-size: 1rem;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* modifies 'send' link appearance so that it looks like a button */
section a:link, a:visited {
    font-size: 0.5rem;
    line-height: 0.9rem;
    border: 1px solid rgb(0, 0, 0);
    padding: 0.6em ;
    text-align: center;
    display: inline-block;
    margin-top: 0.5rem;
}

/* aligns copyright text to right and specifies its size and spacing */
footer {
    text-align: right;
    font-size: 0.7rem;
    padding: 1.1rem;
}