html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}

header {
    background-image: url("../images/rock_01.jpg");
    background-size: cover;
}

header h1{
    z-index: 9;
    color: white;
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
    padding-top: 15rem;
    padding-bottom: 4rem;
}

nav li {
    display: inline;
    text-transform: uppercase;
    color: black;
    font-size: 1.2rem;
    padding-inline: 12.5%;
}

h2, h3, h4 {
    font-weight: 500;
    line-height: 0.5rem;
}

body {
    background-color: rgb(174, 221, 211);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

main {
    line-height: 1.5;
}

img {
    width: 250px;
    /* apply float */
    float: left;
}

.wrapper {
    width: 1000px;
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.message-box {
    border: 1px solid black;
}

div {
    background-color: rgb(220, 235, 235);
}

body a:link, a:visited {
    font-size: 0.5em;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

footer {
    text-align: right;
    font-size: 0.75rem;
    padding: 1rem;
}